certifi==2021.10.8
gunicorn==20.1.0
tpot
cloudpickle==2.0.0
azure-storage-blob==12.10.0
blinker==1.7.0
click==8.1.7
colorama==0.4.6
Cython==3.0.8
Flask==3.0.1
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
MarkupSafe==2.1.4
numpy==1.26.3
packaging==23.2
pandas==2.2.0
patsy==0.5.6
pmdarima
python-dateutil==2.8.2
pytz==2023.3.post1
scikit-base==0.6.2
scikit-learn==1.4.0
scipy==1.12.0
six==1.16.0
sktime
statsmodels
threadpoolctl==3.2.0
tzdata==2023.4
urllib3==2.1.0
Werkzeug==3.0.1
